{% extends "@App/admin.html.twig" %}

{% block breadcrumb %}
<li>{% trans %}adminDashboard.deliveries.title{% endtrans %}</li>
{% endblock %}

{% block content %}

  <p class="text-right">
    <a href="{{ path('admin_deliveries_new') }}" class="btn btn-success">
      <i class="fa fa-plus"></i> {% trans %}adminDashboard.deliveries.createNew{% endtrans %}
    </a>
  </p>

  {% if filters|length > 0 %}
  <div>
    {% for f in filters %}
    <a class="btn btn-default" href="{{ path(routes.list, {}) }}">
      {{ f.label }} <i class="fa fa-times"></i>
    </a>
    {% endfor %}
    <hr>
  </div>
  {% endif %}

  <table class="table table-condensed task-table">
    <thead>
      <th>#</th>
      <th>Organisation</th>
      <th>Commande</th>
      <th>Résumé</th>
      <th>Coursier</th>
      <th>Distance</th>
      <th>Poids</th>
      <th>Créée le</th>
      <th></th>
    </thead>
    <tbody>
    {% for delivery in deliveries %}
      <tr>
        <td>{{ delivery.id }}</td>
        <td>
          {% if delivery.store is not empty %}
            <a href="{{ path(routes.list, { store: delivery.store.id }) }}">
              {{ delivery.store.name }}
            </a>
          {% endif %}
        </td>
        <td>
          {% if delivery.order is defined and delivery.order is not empty %}
            <a href="{{ path('admin_order', { id: delivery.order.id }) }}">
              {{ delivery.order.number }}
            </a>
          {% endif %}
        </td>
        <td>
          <small><i class="fa fa-cube"></i> {{ delivery.pickup.address.streetAddress }}</small>
          <br>
          <small><i class="fa fa-arrow-down"></i> {{ delivery.dropoff.address.streetAddress }}</small>
        </td>
        <td>
          {% if delivery.pickup.isAssigned() and delivery.dropoff.isAssigned() %}
            {% if delivery.pickup.assignedCourier == delivery.dropoff.assignedCourier %}
              <a href="{{ path('admin_user_details', { username: delivery.pickup.assignedCourier.username }) }}">
                <img src="{{ path('user_avatar', { username: delivery.pickup.assignedCourier.username }) }}" width="20" height="20"> @{{ delivery.pickup.assignedCourier.username }}
              </a>
            {% endif %}
          {% endif %}
        </td>
        <td width="8%">
          {{ delivery.distance|meters_to_kilometers }}
        </td>
        <td width="8%">
          {{ delivery.weight }}
        </td>
        <td width="15%">
          {{ delivery.createdAt|localizeddate('short', 'short') }}
        </td>
        <td class="text-right">
          <a href="{{ path(routes.view, { id: delivery.id }) }}">{{ 'basics.view'|trans }}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <nav class="text-center">
    {{ knp_pagination_render(deliveries) }}
  </nav>

{% endblock %}

{% block scripts %}

{% endblock %}
