{% extends "@App/profile.html.twig" %}

{% block content %}
<p class="text-right">
  <a href="{{ path(routes.store_new, { id: store.id }) }}" class="btn btn-success">
    <i class="fa fa-plus"></i>  {{ 'delivery.createNew'|trans }}
  </a>
</p>
<table class="table table-condensed">
  <thead>
    <th>#</th>
    <th>{{ 'delivery.table.heading.summary'|trans }}</th>
    <th>{{ 'delivery.table.heading.courier'|trans }}</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
  {% for delivery in deliveries %}
    <tr>
      <td>
        <a href="{{ path(routes.view, { id: delivery.id }) }}">#{{ delivery.id }}</a>
      </td>
      <td>
        <small><i class="fa fa-cube"></i> {{ delivery.pickup.address.streetAddress }}</small>
        <br>
        <small><i class="fa fa-arrow-down"></i> {{ delivery.dropoff.address.streetAddress }}</small>
        <br>
        <small>{{ delivery.distance|meters_to_kilometers }}</small>
      </td>
      <td>
        {% if delivery.pickup.isAssigned() and delivery.dropoff.isAssigned() %}
          {% if delivery.pickup.assignedCourier == delivery.dropoff.assignedCourier %}
            <a href="{{ path('admin_user_details', { username: delivery.pickup.assignedCourier.username }) }}">
              <img src="{{ path('user_avatar', { username: delivery.pickup.assignedCourier.username }) }}" width="20" height="20"> @{{ delivery.pickup.assignedCourier.username }}
            </a>
          {% endif %}
        {% endif %}
      </td>
      <td class="text-center" width="10%">
        <small class="text-muted">{{ delivery.createdAt|ago }}</small>
      </td>
      <td class="text-right">
        <a href="{{ path(routes.view, { id: delivery.id }) }}">{{ 'basics.view'|trans }}</a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
<nav class="text-center">
  {{ knp_pagination_render(deliveries) }}
</nav>
{% endblock %}
